<table style="
background:#fafafa;
border-collapse:collapse;
border-spacing:0;
color:#222222;
font-family:'Roboto',sans-serif;
font-size:14px;
font-weight:normal;
height:100%;
line-height:19px;
margin:0;padding:10px;
text-align:left;
vertical-align:top;
width:100%" bgcolor="#fafafa">
  <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top" align="left">
      <td align="center" valign="top" style="border-collapse:collapse!important;color:#222222;font-family:'Roboto',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-break:break-word">
        <center style="min-width:580px;width:100%">
          <table style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
            <tbody>
              <tr style="padding:0;text-align:left;vertical-align:top" align="left">
                <td style="border-collapse:collapse!important;color:#222222;font-family:'Roboto',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:break-word" align="left" valign="top">
                  <table style="background:#ffffff;border-collapse:collapse;border-radius:3px!important;border-spacing:0;padding:0;text-align:left;vertical-align:top" bgcolor="#ffffff">
                    <tbody>
                      <tr style="padding:0;text-align:left;vertical-align:top;height:5px" align="left">
                        <td style="background-color:#1EA6E0; height:5px" valign="top"></td>
                      </tr>
                      <tr style="padding:0;text-align:left;vertical-align:top" align="left">
                        <td align="left" style="
						border-collapse:collapse!important;
						color:#222222;font-family:'Roboto',sans-serif;
						font-size:14px;
						font-weight:normal;
						line-height:19px;
						margin:0;padding:0;
						text-align:left;
						vertical-align:top;
						word-break:break-word" valign="top">
                          <center style="min-width:580px;width:100%">
                            <div style="margin-bottom:30px;margin-top:20px;text-align:left!important">
                              <img src="https://wanclouds.net/image/vpc.png" width="200px" height="70px" align="none" class="CToWUd">
                            </div>
                          </center>
                        </td>
                      </tr>
                      <tr style="padding:0;text-align:left;vertical-align:top" align="left">
                        <td style="border-collapse:collapse!important;color:#222222;font-family:'Roboto',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:break-word" align="left" valign="top">
                          <div style="color:#333333;font-size:14px;font-weight:normal;line-height:20px;margin:20px">
                            <p style="color:#222222;font-family:'Roboto',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left" align="left">
                              Hi <strong>{{name}}</strong>!<br><br>
							  We have received a password change request for your VPC+ account. If you made this request, then click on the link below to reset your password
                            </p>
                            <div style="color:#ffffff;padding:20px 0 33px;text-align:center" align="center">
							  <a href={{reset_url}} style="
							  background:#1EA6E0;
							  border-radius:3px;
							  box-shadow:0px 3px 0px #1EA6E0;
							  color:#ffffff;
							  display:inline-block;
							  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
							  font-size:15px;
							  font-weight:bold;
							  line-height: 15px;
							  letter-spacing:normal;
							  padding:12px 24px;
							  text-align:center;
							  text-decoration:none;
							  text-transform: uppercase;
							  width:220px !important;" target="_blank">Reset Password</a>
                            </div>
                            <p style="color:#222222;font-family:'Roboto',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left" align="left">
							If you did not ask to change password, then please ignore this email. Another user may have entered your email by mistake.
							No changes would be made to your account
                            </p>
                            <p style="color:#222222;font-family:'Roboto',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left" align="left">
                              Thank you!<br>
							  Team VPC+
                            </p>
                            <hr style="background:#d9d9d9;border:none;color:#d9d9d9;min-height:1px;margin:10px 0 20px">
                            <p style="color:#777777;font-family:'Roboto',sans-serif;font-size:12px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left" align="left">
                              If clicking the above link does not work, copy and paste the following URL in a new browser window:<br>
                              <a href={{reset_url}} style="color:#1EA6E0;text-decoration:underline" target="_blank">{{reset_url}}</a>
                            </p>
                            <p style="color:#777777;font-family:'Roboto',sans-serif;font-size:12px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left" align="left">
                              it is also a good idea to add noreply@wanclouds.net to your address book to ensure that you receive our messages (no spam, we promise).
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </td>
    </tr>
  </tbody>
</table>